/* Style général pour toute la page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Style pour le titre principal */
h1 {
    text-align: center;
    color: #0077b6;
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style pour les paragraphes */
p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Style du tableau */
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style des en-têtes du tableau */
table thead th {
    background-color: #0077b6;
    color: #fff;
    padding: 10px;
    font-size: 1.1em;
    text-align: center;
    border: 1px solid #ddd;
}

/* Style des cellules du tableau */
table tbody td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

/* Style pour les lignes impaires pour alternance de couleurs */
table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Style du bouton */
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #0077b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Effet au survol du bouton */
button:hover {
    background-color: #0077b6;
}

/* Style pour le footer (si nécessaire) */
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #666;
}
